.page {
  max-width: 1280px;
  min-height: 100vh;
  padding-top: 0;
  background: #2a2c2f;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;

  font-family: "Inter";
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
