.intro__text {
  max-width: 690px;
  margin: 0;
  margin-top: 40px;

  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

@media screen and (max-width: 768px) {
  .intro__text {
    max-width: 720px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 320px) {
  .intro__text {
    max-width: 288px;
  }
}
