.intro {
  margin-top: 85px;
  margin-left: 100px;
  margin-right: auto;
  max-width: 690px;
  padding-left: 48px;
  padding-right: 48px;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    margin-top: 88px;
    max-width: 720px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 288px;
    margin-top: 65px;
  }
}
