.lead__subtitle {
  max-width: 640px;
  margin-top: 32px;
  margin-right:  auto;
  margin-bottom:  64px;
  margin-left:  auto;
  text-align: center;

  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
    
  
  


}