.website__url-link {
  margin: 0;
  margin-top: 12px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;

  text-decoration: none;
  text-decoration-line: underline;
  color: #fff;
}

.place__website-url-link:visited {
  color: white;
}

.place__website-url-link:hover {
  opacity: 0.8;
}
