.place {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 460px auto;
  column-gap: 40px;
  row-gap: 48px;
  grid-template-areas:
    "title website"
    "image text";
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  padding-left: 148px;
  padding-right: 148px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px auto;
    column-gap: 32px;
    padding-left: 48px;
    padding-right: 48px;
    margin-bottom: 71px;
  }
}

@media screen and (max-width: 900px) {
  .place {
    grid-template-columns: 340px auto;
    padding-left: 24px;
    padding-right: 24px;
    column-gap: 23px;
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 700px) {
  .place {
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    grid-template-columns: auto;
    grid-template-areas:
      "title"
      "website"
      "image"
      "text";
    justify-content: center;
    column-gap: 0;
    row-gap: 32px;
  }
  .place:last-child {
    margin-bottom: 0;
  }
}
